#extension-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  box-sizing: border-box;
  z-index: 10000; /* Ensure it is on top of everything */
}

#extension-overlay input {
  width: 100%;
  padding: 5px;
  border: none;
  background-color: white;
  color: black;
}

#instructions-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 200px;
  width: 400px;
  min-height: 200px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 0;
  box-sizing: border-box;
  resize: both;
  overflow: auto;
  z-index: 9999;
  transition: opacity 0.3s ease-in-out; /* Added this line */
}

#instructions-overlay input {
  color: black;
}

.instructions-content {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.handle {
  padding: 10px;
  background-color: #444;
  cursor: move;
  user-select: none;
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.instructions-body {
  flex-grow: 1;
  padding: 25px;
  overflow-y: auto;
}

#instructions-overlay h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

#instructions-overlay p {
  margin-bottom: 5px;
}

.resize-handle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background-color: #fff;
  cursor: se-resize;
}